h2{
	color: #003580;
}
#pl{
	color: #000033;
	font-size: 14px;
}
.n1{
	color: #F00;
}
.n2{
	color: #1F87CC;
}
.n3{
	color: #FAA53B;
}
.n4{
	color: #0D7114;
}
.pic1{
	height: 160px;
	width: 100px;
}
.pic2{
	height: 130px;
	width: 200px;
}

